@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://localhost:44351/login" class="ml-md-auto">Войти в учётную запись</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
